.join
    form
        p(ng-show="errorMessage") {{ errorMessage }}
        input(ng-model="name", placeholder="YOUR NAME")
        input(ng-model="passphrase", placeholder="STACK PASSPHRASE")
        input(ng-model="phoneNumber", placeholder="YOUR PHONE NUMBER")
        select(ng-model="serviceProvider", ng-options="provider.name for provider in serviceProviders")
            option(value="") CHOOSE YOUR PROVIDER
        button(ng-click="join()") JOIN
