.join
    form
        p(ng-show="errorMessage") {{ errorMessage }}
        input(ng-model="name", placeholder="YOUR NAME")
        input(ng-model="passphrase", placeholder="STACK PASSPHRASE")
        input(ng-model="phoneNumber", placeholder="YOUR PHONE NUMBER")
        input(ng-model="serviceProvider", placeholder="YOUR SERVICE PROVIDER")
        button(ng-click="join()") JOIN
