h1
    font-size: 20pt

.main
    a
        text-decoration: underline
        color: blue

    & > a
        display: block
        font-size: 18pt
        line-height: 1.5

.join
.create
    input
    button
        font-size: 18pt
        line-height: 1
        display: block

.members
    ul
        list-style: none
        padding-left: 0

        li
            padding: 10px 5px
            border-bottom: 1px dotted #aaa
