doctype html
html(ng-app="phonestacks")
    head
        //- Styles
        link(rel="stylesheet", href="styles/main.css")

        //- Vendor scripts
        script(src="components/jquery/jquery.min.js")
        script(src="components/angular/angular.min.js")

    body
        div(ng-controller="HelloCtrl")
            h1 Hello {{name}}.

            input(ng-model="name")

        div(ng-controller="GoodbyeCtrl")
            h1 Goodbye {{name}}.

            input(ng-model="name")

        script(src="js/main.js")